
@{
	ViewBag.Title = "Gérer les clients";
}

<div class="py-2 text-center">
	<img class="d-block mx-auto mb-4" src="@Url.Content("~/Content/BoucherieLogo.png")" alt="" width="72" height="57">
	<h2>Gérer les clients</h2>
</div>


<table class="table table-striped" id="tableClient">
	<thead>
        <tr>
            <th>ID</th>
            <th scope="col">NOM</th>
            <th scope="col">PRENOM</th>
            <th scope="col">EMAIL</th>
            <th scope="col">ACTION</th>
        </tr>
	</thead>
	<tbody>
		@foreach (var client in ViewBag.Clients)
		{
            <tr>
                <th scope="row">@client.id</th>
                <td>@client.Utilisateur.nom</td>
                <td>@client.Utilisateur.prenom</td>
                <td>@client.Utilisateur.mail</td>
                <td>
                    <a onclick="DeleteClient('@client.id')" class="btn btn-link">Supprimer</a>
                    <a onclick="" class="btn btn-info">Accéder</a>
                </td>
            </tr>
		}
	</tbody>
</table>

@section scripts {
	<script>
		$(document).ready(function () {
			$('#tableClient').DataTable({
				"lengthChange": false,
				"bInfo": false,
				"bPaginate": false,
				language: {
					url: '//cdn.datatables.net/plug-ins/1.13.5/i18n/fr-FR.json',
				}
			});
		});
		function DeleteClient(response) {
			$.ajax({
				url: "@Url.Action("delete", "Clients")?idClient=" + response,
				success: function (data) {
					alert(data)
					// si data == ok alors on rafraichi la page
				},
				error: function () {

				}
			});
		}
	</script>
	
}
