@model GestionCommande.Models.Entity.Utilisateur
@{
    ViewBag.Title = "ChangePassword";
}

<div class="d-flex justify-content-center align-items-center mt-4">
    @if (ViewBag.IsNotValid != null)
    {
        <div class="box col-md-3 bg-body rounded shadow p-3">
            <span style="color:red">
                @ViewBag.IsNotValid
            </span>
            <div class="text-center mt-3">
                <a class="btn btn-danger rounded" href="@Url.Action("Index", "Home")" id="btnChangePassword">Retour</a>
            </div>
        </div>
    }
    @if (ViewBag.ErrorChangePassword != null)
    {
        <div class="box col-md-3 bg-body rounded shadow p-3">
            <span style="color:red">
                @ViewBag.ErrorChangePassword
            </span>
            <div class="text-center mt-3">
                <a class="btn btn-danger rounded" href="@Url.Action("Index", "Home")" id="btnChangePassword">Retour</a>
            </div>
        </div>
    }

    @if (ViewBag.SuccessChangePassword != null)
    {
        <div class="box col-md-3 bg-body rounded shadow p-3">
            <span style="color:green">
                @ViewBag.SuccessChangePassword
            </span>
            <div class="text-center mt-3">
                <a class="btn btn-danger rounded" href="@Url.Action("Index", "Home")" id="btnChangePassword">Retour</a>
            </div>
        </div>
    }
    @if (ViewBag.IsNotValid == null && ViewBag.ErrorChangePassword == null && ViewBag.SuccessChangePassword == null)
    {
        <div class="box col-md-5 bg-body rounded shadow p-3">
            @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <form>
                    @Html.HiddenFor(model => model.id_utilisateur)
                    <div class="form-group">
                        <center>
                            <img src="@Url.Content("~/Content/BoucherieLogo.png")" height="50" alt="">
                        </center>
                    </div>
                    <div class="form-group">
                        <div class="alert alert-danger d-none" id="errorMessage" role="alert">
                            Le mot de passe et sa confirmation ne sont pas égaux
                        </div>
                        <div class="alert alert-danger d-none" id="errorMessageLenght" role="alert">
                            Le mot de passe saisie est trop court
                        </div>
                        <div class="alert alert-danger d-none" id="errorMessageChange" role="alert">
                            Une erreur s'est produite impossible de reinitialiser votre mot de passe
                        </div>
                        <div class="alert alert-success d-none" id="sucessMessageChange" role="alert">
                            Votre mot de passe à été réinitilialisé avec succès
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="inputPassword">Mot de passe<span style="color:red">*</span></label>
                            @Html.PasswordFor(m => m.password, new { @class = "form-control input", onchange = "CheckConfirmPassword()" })
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputConfirmPassword">Confirmation de mot de passe<span style="color:red">*</span></label>
                            <input type="password" class="form-control" id="inputConfirmPassword" onchange="CheckConfirmPassword()" placeholder="1234">
                        </div>
                    </div>


                    <div class="text-center mt-3">
                        <button class="btn btn-primary rounded disabled" id="btnChangePassword" type="submit" onclick="btnChangePassword()">Réinitialiser le mot de passe</button>
                        <div id="loaderChangePassword" class="d-none mt-3">
                            <div class="spinner-grow" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <p>Chargement...</p>
                        </div>
                    </div>
                </form>
            }
        </div>
    }
</div>
@section scripts{
    <script>
        function CheckConfirmPassword() {

            var password = $('#password').val();
            var confirmPassword = $('#inputConfirmPassword').val();
            if (password.trim().length < 9) {
                $('#btnChangePassword').addClass('disabled');
                $('#errorMessageLenght').removeClass('d-none');
            }
            else {
                $('#errorMessageLenght').addClass('d-none');
                $('#btnChangePassword').addClass('disabled');

            }
            if (password == confirmPassword) {
                if (password.trim().length > 9) {
                    $('#btnChangePassword').removeClass('disabled');
                }
                $('#errorMessage').addClass('d-none');
            }
            else {
                $('#btnChangePassword').addClass('disabled');
                $('#errorMessage').removeClass('d-none');
            }
        }

        function btnChangePassword() {
            $('#sucessMessageChange').addClass('d-none');
            $('#errorMessageChange').addClass('d-none');
            $('#btnChangePassword').addClass('d-none');
            $('#loaderChangePassword').removeClass('d-none');
            
        }

    </script>
}
