@model IEnumerable<GestionCommande.Models.Entity.Produit>

@{
    ViewBag.Title = "Index";
}

<h2 class="h2 text-center">Nos produits</h2>


<div class="container mt-5 pb-md-5">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3">
                <div class="card p-2 mb-2">
                    <img class="card-img-top" src="https://media.istockphoto.com/id/1279877169/fr/vectoriel/logo-dr%C3%B4le-de-dessin-anim%C3%A9-dun-boucher-avec-le-steak-et-le-couteau.jpg?s=612x612&w=0&k=20&c=wc_7WMGQgurOFf271Pk8ZuNqaU8WcVO7U-6H7TYRzJ4=" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@item.libelle_produit</h5>
                        <p class="card-text">@item.description</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


<div class="d-flex justify-content-center align-items-center vh-10">
    <nav aria-label="...">
        <ul class="pagination">
            @if (ViewBag.TotalPages == 1 && ViewBag.pageEnCours == 1)
            {
                <li class="page-item disabled">
                    <a class="page-link disabled" href="" tabindex="-1">Précédent</a>
                </li>
            }
            else
            {
                int pagePrecedente = ViewBag.pageEnCours - 1;
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index", "Produits")?page=@pagePrecedente" tabindex="-1">Précédent</a>
                </li>
            }


            @if (ViewBag.TotalPages > 1)
            {
                for (int i = 1; i < ViewBag.TotalPages + 1; i++)
                {
                    if (i == ViewBag.pageEnCours)
                    {
                        <li class="page-item active"><a class="page-link" href="@Url.Action("Index", "Produits")?page=@i">@i</a></li>
                    }
                    else
                    {
                        <li class="page-item"><a class="page-link" href="@Url.Action("Index", "Produits")?page=@i">@i</a></li>
                    }

                }

            }
            else
            {

                <li class="page-item active">
                    <a class="page-link" href="@Url.Action("Index", "Produits",ViewBag.pageEnCours-1)">@ViewBag.pageEnCours<span class="sr-only">(current)</span></a>
                </li>
            }

            @if (ViewBag.TotalPages == ViewBag.pageEnCours)
            {
                <li class="page-item disabled">
                    <a class="page-link disabled" href="#" >Suivant</a>
                </li>
            }
            else
            {
                int pageSuivante = @ViewBag.pageEnCours + 1;
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index", "Produits")?page=@pageSuivante">Suivant</a>
                </li>
            }
        </ul>
    </nav>

</div>



