@model IEnumerable<GestionCommande.Models.Entity.Produit>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="container pb-md-5">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3">
                <div class="card p-2 mb-2">
                    <img class="card-img-top" src="https://media.istockphoto.com/id/1279877169/fr/vectoriel/logo-dr%C3%B4le-de-dessin-anim%C3%A9-dun-boucher-avec-le-steak-et-le-couteau.jpg?s=612x612&w=0&k=20&c=wc_7WMGQgurOFf271Pk8ZuNqaU8WcVO7U-6H7TYRzJ4=" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@item.libelle_produit</h5>
                        <p class="card-text">@item.description</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>



<div class="m-lg-5">
    <nav aria-label="...">
        <ul class="pagination">
            @if (ViewBag.TotalPages == 1 && ViewBag.pageEnCours == 1)
            {
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1">Précédent</a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index", "Produits",ViewBag.pageEnCours-1)" tabindex="-1">Précédent</a>
                </li>
            }

            @if (ViewBag.pageEnCours > 1)
            {
                <li class="page-item"><a class="page-link" href="@Url.Action("Index", "Produit",ViewBag.pageEnCours-1)">@ViewBag.pageEnCours-1</a></li>
            }
            else
            {
                <li class="page-item active">
                    <a class="page-link" href="@Url.Action("Index", "Produit",ViewBag.pageEnCours-1)">@ViewBag.pageEnCours<span class="sr-only">(current)</span></a>
                </li>
            }
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active">
                <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>

</div>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.libelle_produit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prix)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.reduction_pourcentage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.reduction_euro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date_crea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Etat.libelle)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.libelle_produit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prix)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.reduction_pourcentage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.reduction_euro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_crea)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Etat.libelle)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
